body{
    background: #cccccc;
}
.form_add{
    height: 500px;
    width: 500px;
    background: #ffffff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 2%;
}
.form_add .warn{
    font-size:40px;
    animation: changecolor 5s infinite;
}
@keyframes changecolor{
    from{
        color:red;
    }
    20%{
        color:orange;
    }
    35%{
        color:yellow;
    }
    50%{
        color:green;
    }
    65%{
        color:cyan;
    }
    80%{
        color:blue;
    }
    to{
        color:purple;
    }

}
.form-control{
    width: 300px;
    position: relative;
    left:20%;
    margin-bottom:30px;
    margin-top:30px;
}
#submit{
    width: 100px;
    height: 30px;
    background: #00ff00;
    color:#fff;
    font-size:17px;
    line-height: 30px;
    border-radius: 10%;
    margin:0 auto;
    cursor: pointer;
}